:root {
  --Soft_Blue: hsl(231, 69%, 60%);
  --Soft_Red: hsl(0, 94%, 66%);
  --Grayish_Blue: hsl(229, 8%, 60%);
  --Very_Dark_Blue: hsl(229, 31%, 21%);
  --titles:6vmin;
  --texto:22px;
  --columns: 1fr 1fr;
}
@media screen and (max-width: 1130px) {
  :root {
    --titles:40px;
  }
}
@media screen and (max-width: 870px) {
  :root {
    --titles:7vmin;
    --columns: 1fr;
  }
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.hero .main-menu__link {
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  font-weight: normal;
  transition: all ease 1s;
}
.hero .main-menu__link:hover {
  color: var(--Soft_Red);
}
.hero .main-menu__btn {
  outline: none;
  border: 2px solid var(--Soft_Red);
  border-radius: 7px;
  background: var(--Soft_Red);
  padding: 12px 20px;
  text-transform: uppercase;
  color: #fff;
  transition: all ease 1s;
  cursor: pointer;
  margin-left: 20px;
}
.hero .main-menu__btn:hover {
  background: none;
  color: var(--Soft_Red);
}

.welcome {
  margin-top: 50px;
  display: grid;
  grid-template-columns: var(--columns);
  grid-auto-rows: minmax(350px, 1fr);
  align-items: center;
}
.welcome .welcome__title {
  font-size: var(--titles);
  color: var(--Very_Dark_Blue);
}
.welcome .welcome__parrafo {
  line-height: 30px;
  color: var(--Grayish_Blue);
  font-size: 18px;
}
.welcome .welcome__btn-chrome {
  outline: none;
  border: 2px solid var(--Soft_Blue);
  border-radius: 7px;
  background: var(--Soft_Blue);
  padding: 12px 20px;
  text-transform: uppercase;
  color: #fff;
  transition: all ease 1s;
  cursor: pointer;
  text-transform: none;
}
.welcome .welcome__btn-chrome:hover {
  background: none;
  color: var(--Soft_Blue);
}
.welcome .welcome__btn-firefox {
  outline: none;
  border: 2px solid var(--Grayish_Blue);
  border-radius: 7px;
  background: var(--Grayish_Blue);
  padding: 12px 20px;
  text-transform: uppercase;
  color: var(--Very_Dark_Blue);
  transition: all ease 1s;
  cursor: pointer;
  text-transform: none;
}
.welcome .welcome__btn-firefox:hover {
  background: none;
  color: var(--Grayish_Blue);
}
.welcome .welcome__box-img {
  position: relative;
}
.welcome .welcome__box-img:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: -40%;
  z-index: -1;
  width: 100%;
  height: 80%;
  background: var(--Soft_Blue);
  border-radius: 300px 0 0 300px;
}
.welcome .welcome__box-img .welocme__img {
  width: 100%;
}
@media screen and (max-width: 930px) {
  .welcome {
    margin-top: 0;
  }
}

.features-intro {
  text-align: center;
  padding: 0 20%;
}

.features-intro__title {
  font-size: var(--titles);
  color: var(--Very_Dark_Blue);
}

.features-intro__text {
  line-height: 35px;
  color: var(--Grayish_Blue);
  font-size: 18px;
}

.features-slider__box-items {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.features-slider__box-items .features-slider__text {
  position: relative;
  padding: 20px 40px;
  font-size: 20px;
  cursor: pointer;
  border-bottom: 2px solid var(--Grayish_Blue);
}
.features-slider__box-items .features-slider__text .features-slider__barra {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 3px;
  background: red;
  transition: all ease 1s;
  display: none;
}
.features-slider__box-items .features-slider__text .features-slider__barra--active {
  display: block;
}
.features-slider__box-items .features-slider__text:hover {
  color: var(--Soft_Red);
}

.features-slider__option {
  display: none;
  grid-template-columns: var(--columns);
  align-items: center;
  margin-bottom: 50px;
}
.features-slider__option .features-slider__option-box-img {
  position: relative;
}
.features-slider__option .features-slider__option-box-img:after {
  content: "";
  position: absolute;
  bottom: -15%;
  left: -40%;
  z-index: -1;
  width: 100%;
  height: 70%;
  background: var(--Soft_Blue);
  border-radius: 0 200px 200px 0;
}
.features-slider__option .features-slider__option-box-img .features-slider__option-img {
  width: 100%;
  height: 100%;
}
.features-slider__option .features-slider__option-box-text {
  padding: 150px 15px 50px 15px;
}
.features-slider__option .features-slider__option-box-text .features-slider__option-title {
  margin: 0;
  font-size: 40px;
  color: var(--Very_Dark_Blue);
}
.features-slider__option .features-slider__option-box-text .features-slider__option-parrafo {
  line-height: 35px;
  color: var(--Grayish_Blue);
  font-size: 18px;
  margin-bottom: 20px;
}
.features-slider__option .features-slider__option-btn {
  outline: none;
  border: 2px solid var(--Soft_Blue);
  border-radius: 7px;
  background: var(--Soft_Blue);
  padding: 12px 20px;
  text-transform: uppercase;
  color: #fff;
  transition: all ease 1s;
  cursor: pointer;
}
.features-slider__option .features-slider__option-btn:hover {
  background: none;
  color: var(--Soft_Blue);
}

.features-slider__option--active {
  display: grid;
}

.downloads__box-text {
  text-align: center;
}
.downloads__box-text .downloads__title {
  font-size: var(--titles);
  color: var(--Very_Dark_Blue);
}
.downloads__box-text .downloads__parrafo {
  line-height: 35px;
  color: var(--Grayish_Blue);
  font-size: 18px;
  padding: 0 20%;
}
@media screen and (max-width: 800px) {
  .downloads__box-text .downloads__parrafo {
    padding: 0 10%;
  }
}
@media screen and (max-width: 500px) {
  .downloads__box-text .downloads__parrafo {
    padding: 0;
  }
}

.downloads__box-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 30px;
}

.downloads__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 350px;
  box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.8);
  border-radius: 7px;
  text-align: center;
  margin-bottom: 30px;
}
.downloads__card:nth-child(2n) {
  margin-top: 50px;
}
.downloads__card:nth-child(3n) {
  margin-top: 100px;
}
@media screen and (max-width: 1000px) {
  .downloads__card:nth-child(2n) {
    margin-top: 0;
  }
  .downloads__card:nth-child(3n) {
    margin-top: 0;
  }
}
.downloads__card .downloads__card-title {
  font-weight: bold;
}
.downloads__card .downloads__card-version {
  color: var(--Grayish_Blue);
  font-weight: bold;
}
.downloads__card .downloads__card-dots {
  width: 100%;
}
.downloads__card .downloads__card-btn {
  outline: none;
  border: 2px solid var(--Soft_Blue);
  border-radius: 7px;
  background: var(--Soft_Blue);
  padding: 12px 20px;
  text-transform: uppercase;
  color: #fff;
  transition: all ease 1s;
  cursor: pointer;
}
.downloads__card .downloads__card-btn:hover {
  background: none;
  color: var(--Soft_Blue);
}

.questions {
  padding: 100px 0;
}

.questions__title {
  font-size: var(--titles);
  color: var(--Very_Dark_Blue);
  text-align: center;
}

.questions__text {
  line-height: 35px;
  color: var(--Grayish_Blue);
  font-size: 18px;
  padding: 0 20%;
  text-align: center;
}
@media screen and (max-width: 800px) {
  .questions__text {
    padding: 0 10%;
  }
}
@media screen and (max-width: 500px) {
  .questions__text {
    padding: 0;
  }
}

.questions__box-content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 2rem 0;
}

.questions__item {
  width: 70%;
  margin: auto;
  padding: 1.5rem 0;
  border-bottom: 2px solid var(--Grayish_Blue);
}
.questions__item:first-child {
  border-top: 2px solid var(--Grayish_Blue);
}
.questions__item .questions__item-title {
  font-size: 25px;
  outline: none;
  cursor: pointer;
  transition: all ease 1s;
  padding-left: 10px;
}
.questions__item .questions__item-title:hover {
  color: var(--Soft_Red);
}
.questions__item .questions__item-title::-webkit-details-marker {
  color: var(--Soft_Red);
  float: right;
  font-size: 40px;
}
@media screen and (max-width: 500px) {
  .questions__item .questions__item-title {
    font-size: 20px;
    font-weight: bold;
  }
}
.questions__item .questions__item-text {
  line-height: 35px;
  color: var(--Grayish_Blue);
  font-size: 18px;
}
@media screen and (max-width: 800px) {
  .questions__item {
    width: 95%;
  }
}

.questions__item[open] {
  color: var(--Soft_Blue);
  padding-bottom: 0;
}

.questions__item[open] .questions__item-title::-webkit-details-marker {
  color: var(--Soft_Blue);
}

.questions_btn {
  outline: none;
  border: 2px solid var(--Soft_Blue);
  border-radius: 7px;
  background: var(--Soft_Blue);
  padding: 12px 20px;
  text-transform: uppercase;
  color: #fff;
  transition: all ease 1s;
  cursor: pointer;
  margin: auto;
  display: block;
}
.questions_btn:hover {
  background: none;
  color: var(--Soft_Blue);
}

body {
  font-size: 16px;
  font-family: "Rubik", sans-serif;
}

.container__fix {
  overflow: hidden;
  width: 100%;
}

.wrapper {
  width: 90%;
  margin: auto;
}

/*# sourceMappingURL=estilos.css.map */
